<div id="client-list" class="row gy-3">
	<div *ngFor="let client of dataClientList" [routerLink]="['/clientDetail', client.id]" class="div-item col-sm-12 col-md-6 col-lg-6 col-xl-4" >
		<div class="id">
			<span class="title">{{client.id}}</span>
		</div>
		<div class="head title">
			<div class="name">Name: <span>{{client.name}}</span></div>
			<div class="lastName">Last name: <span>{{client.lastName}}</span></div>
		</div>
		<div class="body title">
			<div class="gender">Gender: <span>{{client.gender}}</span></div>
			<div class="birthDate"><span>{{client.birthDate | date:'shortDate'}}</span></div>
		</div>
		<div class="footer">
			<p class="link">Más información</p>
		</div>
	</div>
 </div>