<div id="client-list" class="row gy-3">
	<div class="div-item col-sm-12 col-md-6 col-lg-6 col-xl-4" >
		<div class="id">
			<span class="title">592578</span>
		</div>
		<div class="head title">
			<div class="name">Name: <span>Hanako</span></div>
			<div class="lastName">Last name: <span>Yamada</span></div>
		</div>
		<div class="body title">
			<div class="gender">Gender: <span>male</span></div>
			<div class="birthDate"><span>1919-11-03</span></div>
		</div>
		<div class="footer">
			<p class="link">Más información</p>
		</div>
	</div>
 </div>